body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 4.375rem;
  color: #333333;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #706c61;
}

.h2-title-text{
  font-weight: normal;
}

.topContainer {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  position: relative;

}

.profile {
  margin-bottom: 18px;
  margin-top: 75px;
  height: 160px;
  width: 160px;
}

.aba-icon {
  float: left;
  height: 160px;
  width: 160px;
  margin-right: 30px;
}

.programmer-icon {
  float: right;
  height: 160px;
  width: 160px;
  margin-left: 30px;
}

.bottomContainer {
  position: relative;
}

.contact-me {
  padding-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.bottomCloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.topCloud {
  position: absolute;
  right: 230px;
  top: 50px;
}

.intro {
  margin: 50px 25% 100px 25%
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills{
  margin-top: 80px;
}

.hr-dots{
  border-top: 10px dotted #706c61;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 5%;
}

.help{
  margin-top: 50px;
}
.contact-message{
  margin: auto 25% 50px 25%;
  line-height: 2;
}

.bottom-container{
  margin: 25px auto 0 auto;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #e3fdfd;
}
